

<div class="min-w-screen min-h-screen flex justify-center bg-black items-center px-5 py-5">
  <div class="w-full mx-auto rounded-xl text-white shadow-2xl relative overflow-hidden" style="max-width: 350px;">
    <h1 class="text-center text-white text-3xl font-bold">Angular Calculator</h1>

    <!-- Calculator Screen -->
    <div class="w-full h-40 bg-gradient-to-b from-blue-800 to-blue-700 text-right mt-4">
      <div class="w-full py-5 px-6 text-2xl text-white font-thin">
        {{funcT}}
        <div class="w-full py-5 px-6 text-white font-thin">
        {{calValue}}
        </div>
      </div>
    </div>

    <!-- Calculator Buttons -->
    <div class="w-full bg-gradient-to-b from-blue-200 to-blue-300">
      <div class="flex w-full flex-wrap">
        <div class="w-1/2 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('C', 'function')">C</button>
        </div>
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('%', 'function')">%</button>
        </div>
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('/', 'function')">/</button>
        </div>
      </div>
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('7', 'number')">7</button>
        </div>
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('8', 'number')">8</button>
        </div>
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('9', 'number')">9</button>
        </div>
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('x', 'function')">X</button>
        </div>
      </div>
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('4', 'number')">4</button>
        </div>
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('5', 'number')">5</button>
        </div>
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('6', 'number')">6</button>
        </div>
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('-', 'function')">-</button>
        </div>
      </div>
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('1', 'number')">1</button>
        </div>
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light"
           (click)="onClickValue('2', 'number')"
           >2</button>
        </div>
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('3', 'number')">3</button>
        </div>
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('+', 'function')">+</button>
        </div>
      </div>
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('0', 'number')">0</button>
        </div>
        <div class="w-1/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('.', 'number')">.</button>
        </div>
        <div class="w-2/4 border-r border-b border-white">
          <button class="w-full h-16 outline-none hover:bg-blue-600 hover:bg-opacity-20 text-black text-xl font-light" (click)="onClickValue('=', 'function')">=</button>
        </div>
      </div>
    </div>
  </div>
</div>
